Repository tiacsys/kicad-library-utils: changes, and which GitLab CI jobs are due for each by the changed paths.
All: symbol_rulechecker, footprint_rulechecker

.gitlab-ci.yml:

image: python:latest
  
before_script:
  - python -V

symbol_rulechecker:
  only:
    refs:
      - merge_requests
    changes:
      - "schlib/*"
      - "schlib/test/*"
  script:
    - python schlib/check_kicad_sym.py -u schlib/test/*
  artifacts:
    reports:
      metrics: metrics.txt

footprint_rulechecker:
  only:
    refs:
      - merge_requests
    changes:
      - "pcb/*"
      - "pcb/rules/*"
      - "pcb/test.pretty/*"
  script:
    - python pcb/check_kicad_mod.py -u pcb/test.pretty/*
  artifacts:
    reports:
      metrics: metrics.txt

schlib: Fix S4.3 not working for pinstacks
  schlib/kicad_sym.py
  schlib/test/CI_Test_S4.3.kicad_sym
Due: symbol_rulechecker

Schlib: fix adding ../common to library search path
  schlib/kicad_sym.py
Due: symbol_rulechecker

Remove 'B.SilkS' from RefDes check
  pcb/rules/F5_1.py
Due: footprint_rulechecker

Add fp_rect support to kicad_mod.py
  pcb/kicad_mod.py
Due: footprint_rulechecker

Schlib: Add missing checks for S7.1 and S7.2
  schlib/kicad_sym.py
  schlib/rules/S7_1.py
  schlib/rules/S7_2.py
Due: symbol_rulechecker

Added S7.x test cases
  schlib/test/CI_Test_S7.x.kicad_sym
Due: symbol_rulechecker

Add Silk RefDes and line tests for F5.1
  pcb/check_kicad_mod.py
  pcb/test.pretty/Fail__F5.1__LINE-silk-too-thick.kicad_mod
  pcb/test.pretty/Fail__F5.1__LINE-silk-too-thin.kicad_mod
  pcb/test.pretty/Fail__F5.1__REFDES-bottom-silk.kicad_mod
  pcb/test.pretty/Fail__F5.1__REFDES-extra-asterisk.kicad_mod
  pcb/test.pretty/Fail__F5.1__REFDES-one-asterisk.kicad_mod
  pcb/test.pretty/Fail__F5.1__REFDES-silk-empty.kicad_mod
  pcb/test.pretty/Fail__F5.1__REFDES-silk-too-thick.kicad_mod
  pcb/test.pretty/Fail__F5.1__REFDES-silk-too-thin.kicad_mod
  pcb/test.pretty/Fail__F5.1__REFDES-size-too-big-height.kicad_mod
  pcb/test.pretty/Fail__F5.1__REFDES-size-too-big-width.kicad_mod
  pcb/test.pretty/Fail__F5.1__REFDES-size-too-small-height.kicad_mod
  pcb/test.pretty/Fail__F5.1__REFDES-size-too-small-width.kicad_mod
  pcb/test.pretty/Pass__F5.1__REFDES-silk-correct.kicad_mod
Due: footprint_rulechecker

Fix F.Fab RefDes check to align with new KLC
  pcb/rules/F5_2.py
Due: footprint_rulechecker

Added S3.6 fail pass warn test cases
  schlib/test/CI_Test_S3.x.kicad_sym
Due: symbol_rulechecker

Add [passing] F5.2 test-cases
  pcb/test.pretty/Fail__F5.2__FAB_outline_too_thick.kicad_mod
  pcb/test.pretty/Fail__F5.2__FAB_outline_too_thin.kicad_mod
  pcb/test.pretty/Fail__F5.2__FAB_refdes_size_ratio.kicad_mod
  pcb/test.pretty/Pass__F5.2__FAB_good.kicad_mod
Due: footprint_rulechecker

Fix F5.1 filename paths, consolidate tests
  pcb/test.pretty/Fail__F5.1__LINE-silk-too-thick.kicad_mod
  pcb/test.pretty/Fail__F5.1__LINE-silk-too-thin.kicad_mod
  pcb/test.pretty/Fail__F5.1__REFDES-bottom-silk.kicad_mod
  pcb/test.pretty/Fail__F5.1__REFDES-extra-asterisk.kicad_mod
  pcb/test.pretty/Fail__F5.1__REFDES-one-asterisk.kicad_mod
  pcb/test.pretty/Fail__F5.1__REFDES-silk-empty.kicad_mod
  pcb/test.pretty/Fail__F5.1__REFDES-silk-too-thick.kicad_mod
  pcb/test.pretty/Fail__F5.1__REFDES-silk-too-thin.kicad_mod
  pcb/test.pretty/Fail__F5.1__REFDES-size-too-big-height.kicad_mod
  pcb/test.pretty/Fail__F5.1__REFDES-size-too-big-width.kicad_mod
  pcb/test.pretty/Fail__F5.1__REFDES-size-too-big.kicad_mod
  pcb/test.pretty/Fail__F5.1__REFDES-size-too-small-height.kicad_mod
  pcb/test.pretty/Fail__F5.1__REFDES-size-too-small-width.kicad_mod
  pcb/test.pretty/Fail__F5.1__REFDES-size-too-small.kicad_mod
Due: footprint_rulechecker

Schlib: fp_filters are split by whitespace
  schlib/kicad_sym.py
Due: symbol_rulechecker

Schlib: add rounding to mm/mil conversion
  schlib/kicad_sym.py
  schlib/rules/rule.py
Due: symbol_rulechecker

Schlib: Check for space separated keywords
  schlib/rules/S6_2.py
Due: none

Fix syntax errors in Keywords check, change message slightly
  schlib/rules/S6_2.py
Due: none

Schlib: Add write support for symbols and libs
  common/sexpr.py
  schlib/kicad_sym.py
Due: symbol_rulechecker

Add a test for the kicad_sym write functionality
  test/read_write_kicad_sym.sh
  tools/compare_sexpr_files.sh
Due: none

Port symbol generators to v6
  .gitignore
  .v5_schlib/autogen/R_Network/R_Network.py
  .v5_schlib/autogen/demo-KiCadSymbolGenerator.py
  common/kicad_sym.py
  klc-check/check_symbol.py
  klc-check/rules_symbol/rule.py
  symbol-generators/R_Network/R_Network.py
  symbol-generators/example-generator.py
Due: none

Make gitlabci work with new directory structure
  .gitlab-ci.yml
Due: none

Add multiprocessing to check_symbol.py
  common/print_color.py
  klc-check/check_symbol.py
Due: none

Move gitlabci below klc-check, update README.md
  README.md
  klc-check/gitlabci/README.md
  klc-check/gitlabci/check_footprints.sh
  klc-check/gitlabci/check_lib_table.py
  klc-check/gitlabci/check_symbols.sh
Due: none

Update check_3d_coverage.py
  klc-check/check_3d_coverage.py
Due: none

Fix CI of symbols and footprints
  common/kicad_sym.py
  klc-check/check_lib_table.py
  klc-check/comparelibs.py
  klc-check/gitlabci/check_footprints.sh
  klc-check/gitlabci/check_symbols.sh
Due: none

Fix a small bug in check_symbol.py when called by comparelibs.py
  klc-check/check_symbol.py
Due: none

Fix incorrect variable name in rectangle iteration
  common/kicad_mod.py
Due: none

Update and improve schlib/autogen script for STM32
  .v5_schlib/autogen/stm32/.gitignore
  .v5_schlib/autogen/stm32/README.md
  .v5_schlib/autogen/stm32/datasheets.txt
  .v5_schlib/autogen/stm32/stm32_generator.py
  .v5_schlib/autogen/stm32/stm32_get_datasheets.py
Due: none

Replace envvar
  klc-check/rules_footprint/F9_3.py
Due: none

Update symbol generators for new (v6) symbol format
  .v5_schlib/autogen/.gitignore
  .v5_schlib/autogen/KiCadSymbolGenerator/SymbolGenerator.py
  .v5_schlib/autogen/KiCadSymbolGenerator/__init__.py
  symbol-generators/SW_DIP/SW_DIP.py
  symbol-generators/common/DrawingElements.py
  symbol-generators/common/Point.py
  symbol-generators/connector/Connector_generator.py
  symbol-generators/stm32/.gitignore
  symbol-generators/stm32/README.md
  symbol-generators/stm32/stm32_generator.py
  symbol-generators/stm32/stm32_get_datasheets.py
Due: none

Fix for #290, document comparelibs in Readme
  README.md
Due: none

Handle module name as string
  common/kicad_mod.py
  klc-check/rules_footprint/F5_2.py
  klc-check/rules_footprint/F9_1.py
Due: none

Fix for #129, correction to help text. Also add a missing 'self.'
  klc-check/check_symbol.py
Due: none

Fix issues with script hanging
  klc-check/check_symbol.py
Due: none

Further fixes for hanging problem; fix --nocolor option
  klc-check/check_symbol.py
Due: none

error_count not updated correctly, fixed indent
  klc-check/check_symbol.py
Due: none

Added S5.2 test cases
  klc-check/test_symbol/CI_Test_S5.x.kicad_sym
Due: none

Fix some example URLs
  klc-check/test_symbol/CI_Test_S3.x.kicad_sym
Due: none

Adjust F5.2 text size to align with KLC
  klc-check/rules_footprint/F5_2.py
  klc-check/rules_footprint/klc_constants.py
Due: none

Change S4.4.1 check to actually check for the S4.3.7 exception (invisible pins should be PASSIVE in power stack)
  klc-check/rules_symbol/S4_4.py
Due: none

Fix NC not getting detected properly in S4.6
  klc-check/comparelibs.py
  klc-check/rules_symbol/S4_3.py
  klc-check/rules_symbol/S4_6.py
  klc-check/rules_symbol/__init__.py
  klc-check/test_symbol/CI_Test_S3.x.kicad_sym
  klc-check/test_symbol/CI_Test_S4.3.kicad_sym
  klc-check/test_symbol/CI_Test_S5.x.kicad_sym
  symbol-generators/common/DrawingElements.py
Due: none
