Repository tiacsys/kicad-library-utils: changes, and which GitLab CI jobs are due for each by the changed paths.
All: symbol_rulechecker, footprint_rulechecker

.gitlab-ci.yml:

image: python:latest
  
before_script:
  - python -V

symbol_rulechecker:
  only:
    refs:
      - merge_requests
    changes:
      - "common/*"
      - "klc-check/*"
      - "klc-check/*symbol/*"
  script:
    - python klc-check/check_symbol.py -u klc-check/test_symbol/*
  artifacts:
    reports:
      metrics: metrics.txt

footprint_rulechecker:
  only:
    refs:
      - merge_requests
    changes:
      - "common/*"
      - "klc-check/*"
      - "klc-check/*footprint/*"
  script:
    - python klc-check/check_footprint.py -u klc-check/test_footprint.pretty/*
  artifacts:
    reports:
      metrics: metrics.txt

style: fix flake8 issue E266 - too many leading '#' for block comment
  .v5_schlib/fix-pins.py
  common/kicad_mod.py
  symbol-generators/connector/Connector_generator.py
Due: symbol_rulechecker, footprint_rulechecker

style: simply `True if ... False` constructs
  .v5_schlib/rules/S3_3.py
  .v5_schlib/rules/S4_1.py
Due: none

fix: remove referencs to `unicode`
  .v5_schlib/move_symbols.py
Due: none

build(Makefile): add "lint" target python style checks
  .flake8
  Makefile
Due: none

style: remove parent class `object`
  .v5_schlib/fix-pins.py
  .v5_schlib/fix-text-sizes.py
  .v5_schlib/schlib.py
  common/boundingbox.py
  common/kicad_mod.py
  common/kicad_sym.py
  common/sexpr.py
Due: symbol_rulechecker, footprint_rulechecker

fix: remove duplicate connector "dual_row_din41612_zb_even-pins"
  symbol-generators/connector/Connector_generator.py
Due: none

chore: remove trailing whitespace
  .gitlab-ci.yml
  README.md
  test/read_write_kicad_sym.sh
Due: none

fix: migrate `raw_input` (python2) to `input` (python3)
  .v5_schlib/fix_footprints.py
Due: none

style: do not access `__dict__` or `__eq__` for trivial tasks
  common/kicad_sym.py
  klc-check/comparelibs.py
  klc-check/rules_symbol/rule.py
Due: symbol_rulechecker, footprint_rulechecker

fix(F5_3): report out-of-grid errors even for the start value of "y"
  klc-check/rules_footprint/F5_3.py
Due: footprint_rulechecker

fix: use `python3` instead of `python` everywhere
  .gitlab-ci.yml
  .v5_schlib/find_duplicates.py
  .v5_schlib/fix-pins.py
  .v5_schlib/fix-text-sizes.py
  .v5_schlib/fix_footprints.py
  .v5_schlib/move_part.py
  .v5_schlib/move_symbols.py
  .v5_schlib/test_schlib.sh
  klc-check/gitlabci/check_footprints.sh
  klc-check/gitlabci/check_symbols.sh
  packages3d/check_3dmodels.py
  tools/rename_footprints.py
Due: none

fix(boundingbox): do not misinterpret a zero value as "unset"
  common/boundingbox.py
Due: symbol_rulechecker, footprint_rulechecker

fix: replace wrong references to `lib_name` for log messages
  klc-check/check_footprint.py
  klc-check/check_symbol.py
Due: symbol_rulechecker, footprint_rulechecker

style: ignore flake8 issue F901 (related to `NotImplemented`) temporarily
  .flake8
Due: none

style: fix flake8 issue E722 - do not use bare except, specify exception instead
  .v5_schlib/rules/EC01.py
  common/kicad_mod.py
  common/print_color.py
  common/rulebase.py
  klc-check/check_3d_coverage.py
  klc-check/rules_footprint/F5_1.py
  klc-check/rules_footprint/F7_4.py
  klc-check/rules_footprint/rule.py
  klc-check/rules_symbol/S4_5.py
  symbol-generators/stm32/stm32_generator.py
Due: symbol_rulechecker, footprint_rulechecker

refactor: avoid overriding Python's builtins
  .v5_schlib/checklib.py
  .v5_schlib/rules/S5_2.py
  common/kicad_sym.py
  klc-check/check_symbol.py
  klc-check/rules_symbol/S5_2.py
  symbol-generators/connector/Connector_generator.py
Due: symbol_rulechecker, footprint_rulechecker

ci: migrate from "only" to "rules"
  .gitlab-ci.yml
Due: none

Replace all mentions of 'alias' with 'derived symbol'
  .gitlab-ci.yml
  klc-check/comparelibs.py
  klc-check/gitlabci/check_symbols.sh
  klc-check/rules_symbol/S3_3.py
  klc-check/rules_symbol/S3_6.py
  klc-check/rules_symbol/S4_1.py
  klc-check/rules_symbol/S4_2.py
  klc-check/rules_symbol/S4_3.py
  klc-check/rules_symbol/S4_4.py
  klc-check/rules_symbol/S4_5.py
  klc-check/rules_symbol/S4_6.py
  klc-check/rules_symbol/S6_2.py
  klc-check/rules_symbol/S7_2.py
  symbol-generators/stm32/stm32_generator.py
Due: symbol_rulechecker, footprint_rulechecker

Remove old, unused v5 code
  .v5_schlib/checklib.py
  .v5_schlib/comparelibs.py
  .v5_schlib/find_duplicates.py
  .v5_schlib/fix-pins.py
  .v5_schlib/fix-text-sizes.py
  .v5_schlib/fix_footprints.py
  .v5_schlib/misc/rename.json
  .v5_schlib/misc/rename_stagger.json
  .v5_schlib/misc/replace.json
  .v5_schlib/misc/replace_add_ep-size.json
  .v5_schlib/move_part.py
  .v5_schlib/move_symbols.py
  .v5_schlib/rules/EC01.py
  .v5_schlib/rules/EC02.py
  .v5_schlib/rules/G1_1.py
  .v5_schlib/rules/G1_7.py
  .v5_schlib/rules/S3_1.py
  .v5_schlib/rules/S3_2.py
  .v5_schlib/rules/S3_3.py
  .v5_schlib/rules/S3_6.py
  .v5_schlib/rules/S4_1.py
  .v5_schlib/rules/S4_2.py
  .v5_schlib/rules/S4_3.py
  .v5_schlib/rules/S4_4.py
  .v5_schlib/rules/S4_6.py
  .v5_schlib/rules/S5_1.py
  .v5_schlib/rules/S5_2.py
  .v5_schlib/rules/S6_2.py
  .v5_schlib/rules/S6_3.py
  .v5_schlib/rules/S7_1.py
  .v5_schlib/rules/S7_2.py
  .v5_schlib/rules/__init__.py
  .v5_schlib/rules/rule.py
  .v5_schlib/schlib.py
  .v5_schlib/test_schlib.sh
  Makefile
Due: none

docs(README): add hints for contributing python code
  README.md
Due: none

docs(README): describe scope and purpose of this repository
  README.md
Due: none

refactor(kicad_sym): raise KicadFileFormatError in case of parser errors
  common/kicad_sym.py
  klc-check/check_symbol.py
Due: symbol_rulechecker, footprint_rulechecker

feat(kicad_sym): improve handling of invalid rotation values
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

style: apply style via `make style`
  klc-check/comparelibs.py
  klc-check/rules_footprint/F5_3.py
  klc-check/rules_symbol/S3_3.py
Due: symbol_rulechecker, footprint_rulechecker

feat(kicad_sym): refuse to load symbols with invalid rotation value
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

build: ignore CSV files during spell checks
  Makefile
Due: none

Fix footprint arg in comparelibs.py
  klc-check/comparelibs.py
Due: symbol_rulechecker, footprint_rulechecker

Rename comparelibs param to footprint_directory
  klc-check/comparelibs.py
  klc-check/gitlabci/check_symbols.sh
Due: symbol_rulechecker, footprint_rulechecker

Added generator for AVR-DA and AVR-DB series
  symbol-generators/avr_da_db/avr128da-io-mux.csv
  symbol-generators/avr_da_db/avr128db-io-mux.csv
  symbol-generators/avr_da_db/avr32da-io-mux.csv
  symbol-generators/avr_da_db/avr32db-io-mux.csv
  symbol-generators/avr_da_db/avr64da-io-mux.csv
  symbol-generators/avr_da_db/avr64db-io-mux.csv
  symbol-generators/avr_da_db/avr_da_db_generator.py
Due: none

Update S4.4 error text
  klc-check/rules_symbol/S4_4.py
Due: symbol_rulechecker

stm32_generator: Mark as executable
  symbol-generators/stm32/stm32_generator.py
  symbol-generators/stm32/stm32_get_datasheets.py
Due: none

Fix parsing of in_bom and on_board symbol property
  common/kicad_sym.py
  klc-check/rules_symbol/S7_2.py
  klc-check/test_symbol/CI_Test_S7.x.kicad_sym
Due: symbol_rulechecker, footprint_rulechecker

Fix Flake8 E501 error
  symbol-generators/avr_da_db/avr_da_db_generator.py
Due: none

Fix the generated symbol version to match 6.x version format 20211014
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

Print per-symbol diff in CI log
  .gitlab-ci.yml
  klc-check/comparelibs.py
  klc-check/test_symbol/comparelibs_new/Power_Protection.kicad_sym
Due: symbol_rulechecker, footprint_rulechecker

Handle error situations more gracefully with better exceptions
  common/kicad_sym.py
  common/sexpr.py
Due: symbol_rulechecker, footprint_rulechecker

Gracefully handle absent pytest and safer printing
  common/print_color.py
  klc-check/comparelibs.py
Due: symbol_rulechecker, footprint_rulechecker

Rewrite courtyard connectivity check to get rid of falsely reported courtyard errors on fps with arcs in courtyards or multiple disjoint courtyards.
  klc-check/rules_footprint/F5_3.py
  klc-check/rules_footprint/rule.py
  klc-check/test_footprint.pretty/Fail__F5.3__Unconnected_outline.kicad_mod
  klc-check/test_footprint.pretty/Pass__F5.3__ARC_courtyard.kicad_mod
  klc-check/test_footprint.pretty/Pass__F5.3__Circle_courtyard.kicad_mod
  klc-check/test_footprint.pretty/Pass__F5.3__disjoint_courtyard.kicad_mod
Due: footprint_rulechecker

Add a standalone symbol diffing tool
  .gitignore
  tools/symbol_diff.py
Due: none
