Repository tiacsys/kicad-library-utils: changes, and which GitLab CI jobs are due for each by the changed paths.
All: symbol_rulechecker, footprint_rulechecker

symbol_rulechecker:
  script:
  - python klc-check/check_symbol.py -u klc-check/test_symbol/*
  artifacts:
    reports:
      metrics: metrics.txt

footprint_rulechecker:
  script:
  - python klc-check/check_footprint.py -u klc-check/test_footprint.pretty/*
  artifacts:
    reports:
      metrics: metrics.txt

Add F5.2 test-cases
  klc-check/test_footprint.pretty/Fail__F5.2__FAB_footprint_name_size_too_big_height.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.2__FAB_footprint_name_size_too_big_width.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.2__FAB_footprint_name_size_too_small_height.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.2__FAB_footprint_name_size_too_small_width.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.2__FAB_refdes_size_too_big.kicad_mod
  klc-check/test_footprint.pretty/Fail__F5.2__FAB_refdes_size_too_small.kicad_mod
  klc-check/test_footprint.pretty/Pass__F5.2__FAB_good.kicad_mod
Due: none

Fix duplicated output
  common/print_color.py
Due: symbol_rulechecker, footprint_rulechecker

Update checklib.py
  .v5_schlib/checklib.py
Due: none

Update check_symbol.py
  klc-check/check_symbol.py
Due: symbol_rulechecker, footprint_rulechecker

Change website URL
  README.md
  klc-check/check_footprint.py
Due: symbol_rulechecker, footprint_rulechecker

Only conduct KLC-check on added symbols, not complete library
  klc-check/comparelibs.py
Due: symbol_rulechecker, footprint_rulechecker

Fixed unhashable type error while using --design-breaking-changes
  klc-check/comparelibs.py
Due: symbol_rulechecker, footprint_rulechecker

Add missing traceback import
  klc-check/check_symbol.py
Due: symbol_rulechecker, footprint_rulechecker

Use up to date s-expr format when parsing arcs
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

Fix the way symbols are parsed
  common/kicad_sym.py
  klc-check/test_symbol/CI_Test_S3.x.kicad_sym
  klc-check/test_symbol/CI_Test_S4.3.kicad_sym
  klc-check/test_symbol/CI_Test_S5.x.kicad_sym
  klc-check/test_symbol/CI_Test_S7.x.kicad_sym
Due: symbol_rulechecker, footprint_rulechecker

Remove failing test of symbol CI
  klc-check/test_symbol/CI_Test_S5.x.kicad_sym
Due: symbol_rulechecker

Bump version string of generated symbols
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

Adjust footprint parser for current arc format
  common/kicad_mod.py
Due: symbol_rulechecker, footprint_rulechecker

Bugfix: font_weight kwarg not working
  symbol-generators/common/DrawingElements.py
Due: none

Add exclude argument to comparelibs parser, pass value to check_symbol
  klc-check/comparelibs.py
Due: symbol_rulechecker, footprint_rulechecker

Added Polygon support for Footprints
  common/kicad_mod.py
  klc-check/test_footprint.pretty/Pass__F5.3__Polygon_Courtyard.kicad_mod.kicad_mod
Due: symbol_rulechecker, footprint_rulechecker

Add githook info to README.md
  README.md
Due: none

Fix footprint polygon parsing (#374)
  common/kicad_mod.py
  klc-check/test_footprint.pretty/Pass__F5.2__FabPolygon.kicad_mod
Due: symbol_rulechecker, footprint_rulechecker

Fix thermal via detection
  klc-check/rules_footprint/F7_4.py
Due: footprint_rulechecker

Fix boundingbox calculation for footprint-arcs
  common/kicad_mod.py
Due: symbol_rulechecker, footprint_rulechecker

Implemented alternate-pin-function in kicad_sym.py
  common/kicad_sym.py
  symbol-generators/common/DrawingElements.py
  symbol-generators/stm32/stm32_generator.py
Due: symbol_rulechecker, footprint_rulechecker

Exclude filename of KicadSymbol from __eq__
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

Add a check for 3D models that exist but have a different letter-case
  klc-check/check_3d_coverage.py
Due: symbol_rulechecker, footprint_rulechecker

Fix up attr handling, add new v6 header support
  common/kicad_mod.py
Due: symbol_rulechecker, footprint_rulechecker

Update with new attributes in v6
  common/kicad_mod.py
Due: symbol_rulechecker, footprint_rulechecker

Rework for v6 libraries
  README.md
  klc-check/check_3d_coverage.py
Due: symbol_rulechecker, footprint_rulechecker

Update unit test file with latest KiCad version
  klc-check/test_footprint.pretty/Warn__F7.1__Virtual-with-THT-Pins.kicad_mod
Due: none

Only parse kicad_sym files of version 20211014
  common/kicad_sym.py
  klc-check/check_footprint.py
  klc-check/check_symbol.py
  klc-check/test_symbol/CI_Test_S3.x.kicad_sym
  klc-check/test_symbol/CI_Test_S4.3.kicad_sym
  klc-check/test_symbol/CI_Test_S5.x.kicad_sym
  klc-check/test_symbol/CI_Test_S7.x.kicad_sym
Due: symbol_rulechecker, footprint_rulechecker

Update S4.4 check to use the current format
  klc-check/rules_symbol/S4_4.py
  klc-check/test_symbol/CI_Test_S4.4.kicad_sym
Due: symbol_rulechecker

Add some S6.2 test cases
  klc-check/test_symbol/CI_Test_S6.x.kicad_sym
Due: symbol_rulechecker

Fix ValueError in S4.1 check
  klc-check/rules_symbol/S4_1.py
  klc-check/test_symbol/CI_Test_S4.1.kicad_sym
Due: symbol_rulechecker

Show URL of KLC rules on violation
  .v5_schlib/checklib.py
  common/rulebase.py
  klc-check/check_footprint.py
  klc-check/check_symbol.py
Due: symbol_rulechecker, footprint_rulechecker

Add constructors in `Rule`
  klc-check/rules_footprint/F5_1.py
  klc-check/rules_footprint/F5_2.py
  klc-check/rules_footprint/F5_3.py
  klc-check/rules_footprint/F5_4.py
  klc-check/rules_footprint/F6_1.py
  klc-check/rules_footprint/F6_3.py
  klc-check/rules_footprint/F7_1.py
  klc-check/rules_footprint/F7_2.py
  klc-check/rules_footprint/F7_4.py
  klc-check/rules_footprint/F9_3.py
  klc-check/rules_symbol/EC02.py
  klc-check/rules_symbol/G1_7.py
  klc-check/rules_symbol/S3_2.py
  klc-check/rules_symbol/S3_3.py
  klc-check/rules_symbol/S4_1.py
  klc-check/rules_symbol/S4_3.py
  klc-check/rules_symbol/S4_4.py
  klc-check/rules_symbol/S4_6.py
  klc-check/rules_symbol/S5_2.py
  klc-check/rules_symbol/S7_1.py
  klc-check/rules_symbol/S7_2.py
Due: symbol_rulechecker, footprint_rulechecker

Fix quote escaping issue in sexpr output
  common/sexpr.py
Due: symbol_rulechecker, footprint_rulechecker

Fix verbosity settings in check_*.py
  common/rulebase.py
  klc-check/check_footprint.py
  klc-check/check_symbol.py
Due: symbol_rulechecker, footprint_rulechecker

Fix some missing imports
  klc-check/rules_footprint/F7_4.py
  klc-check/rules_footprint/F9_1.py
  klc-check/rules_footprint/F9_3.py
  klc-check/rules_footprint/G1_7.py
Due: footprint_rulechecker

Fix a broken indentaion in F5_4.py
  klc-check/rules_footprint/F5_4.py
Due: footprint_rulechecker

Use Verbosity Enum in comparelibs.py
  klc-check/comparelibs.py
Due: symbol_rulechecker, footprint_rulechecker

Add more CI tests
  .gitlab-ci.yml
  klc-check/test_footprint.pretty/SO-8_3.9x4.9mm_P1.27mm.kicad_mod
  klc-check/test_symbol/CI_Test_S3.x.kicad_sym
  klc-check/test_symbol/comparelibs_new/Power_Protection.kicad_sym
  klc-check/test_symbol/comparelibs_old/Power_Protection.kicad_sym
Due: symbol_rulechecker

Path conditions:
  symbol_rulechecker: any of: common/*, klc-check/*, klc-check/*symbol/*
  footprint_rulechecker: any of: common/*, klc-check/*, klc-check/*footprint/*
