Repository tiacsys/kicad-library-utils: changes, and which GitLab CI jobs are due for each by the changed paths.
All: symbol_rulechecker, footprint_rulechecker

symbol_rulechecker:
  script:
  - python klc-check/check_symbol.py -u klc-check/test_symbol/*
  artifacts:
    reports:
      metrics: metrics.txt

footprint_rulechecker:
  script:
  - python klc-check/check_footprint.py -u klc-check/test_footprint.pretty/*
  artifacts:
    reports:
      metrics: metrics.txt

Revert `self` for `roundCoordinateToGrid`
  symbol-generators/common/Point.py
Due: none

style: prepare formatting via "black" and "isort"
  Makefile
  pyproject.toml
Due: none

fix(check_3d_coverage): repair log message
  klc-check/check_3d_coverage.py
Due: symbol_rulechecker, footprint_rulechecker

style: fix flake8 issue E203 - whitespace before ':'
  .v5_schlib/rules/S4_3.py
  .v5_schlib/rules/S6_2.py
  .v5_schlib/rules/S7_1.py
  .v5_schlib/schlib.py
  klc-check/rules_symbol/S7_1.py
Due: symbol_rulechecker

style: do not access `globals()` (relying on wildcard imports)
  .v5_schlib/checklib.py
  .v5_schlib/rules/__init__.py
  klc-check/check_footprint.py
  klc-check/check_symbol.py
  klc-check/rules_footprint/__init__.py
  klc-check/rules_symbol/__init__.py
Due: symbol_rulechecker, footprint_rulechecker

style: fix flake8 issue E713 - test for membership should be 'not in'
  .v5_schlib/checklib.py
  .v5_schlib/comparelibs.py
  .v5_schlib/find_duplicates.py
  .v5_schlib/fix_footprints.py
  .v5_schlib/move_symbols.py
  .v5_schlib/schlib.py
  common/kicad_mod.py
  common/lib_table.py
  common/rulebase.py
  klc-check/check_3d_coverage.py
  klc-check/check_footprint.py
  klc-check/check_lib_table.py
  klc-check/check_symbol.py
  klc-check/comparelibs.py
  klc-check/rules_footprint/F5_4.py
  klc-check/rules_footprint/F7_5.py
  klc-check/rules_symbol/S4_3.py
  packages3d/check_3dmodels.py
  symbol-generators/R_Network/R_Network.py
  symbol-generators/SW_DIP/SW_DIP.py
  symbol-generators/connector/Connector_generator.py
  symbol-generators/example-generator.py
  symbol-generators/stm32/stm32_generator.py
  tools/rename_footprints.py
Due: symbol_rulechecker, footprint_rulechecker

style: fix flake8 issue W605 - invalid escape sequences
  .v5_schlib/rules/S4_4.py
  .v5_schlib/rules/S4_6.py
  common/kicad_sym.py
  klc-check/rules_footprint/F5_3.py
  klc-check/rules_footprint/F7_4.py
  klc-check/rules_symbol/S4_4.py
  klc-check/rules_symbol/S4_6.py
  klc-check/rules_symbol/S6_2.py
Due: symbol_rulechecker, footprint_rulechecker

fix: update old reference to `KLC_TEXT_HEIGHT`
  klc-check/rules_footprint/F5_1.py
Due: footprint_rulechecker

fix(S4_3): repair typo
  klc-check/rules_symbol/S4_3.py
Due: symbol_rulechecker

style: fix flake8 issue E721 - do not compare types, use 'isinstance()'
  .v5_schlib/rules/rule.py
  common/kicad_mod.py
  common/kicad_sym.py
  common/sexpr.py
  klc-check/rules_symbol/rule.py
Due: symbol_rulechecker, footprint_rulechecker

style: fix flake8 issue E712 - comparison to False should be 'if cond is False:' or 'if not cond:'
  klc-check/check_symbol.py
  klc-check/comparelibs.py
  klc-check/rules_symbol/S4_3.py
  klc-check/rules_symbol/S4_4.py
  klc-check/rules_symbol/S4_6.py
  klc-check/rules_symbol/S5_1.py
  klc-check/rules_symbol/S7_1.py
  klc-check/rules_symbol/S7_2.py
Due: symbol_rulechecker, footprint_rulechecker

style: fix flake8 issue E711 - comparison to None should be 'if cond is not None:'
  .v5_schlib/schlib.py
  common/kicad_mod.py
  common/kicad_sym.py
  klc-check/rules_symbol/S3_1.py
  klc-check/rules_symbol/S4_2.py
  klc-check/rules_symbol/S4_3.py
  klc-check/rules_symbol/S4_6.py
  klc-check/rules_symbol/S5_1.py
  klc-check/rules_symbol/S7_2.py
Due: symbol_rulechecker, footprint_rulechecker

chore: fix spelling issues
  README.md
  common/kicad_mod.py
  common/kicad_sym.py
  klc-check/check_3d_coverage.py
  klc-check/rules_footprint/F5_2.py
  klc-check/rules_footprint/rule.py
  symbol-generators/common/DrawingElements.py
  symbol-generators/common/Point.py
  symbol-generators/connector/Connector_generator.py
  symbol-generators/example-generator.py
  symbol-generators/stm32/stm32_generator.py
Due: symbol_rulechecker, footprint_rulechecker

fix(S5_1): ensure failure reporting for all problem indicators
  .v5_schlib/rules/S5_1.py
  klc-check/rules_symbol/S5_1.py
Due: symbol_rulechecker

chore: remove method that was only relevant for Python2
  symbol-generators/common/Point.py
Due: none

refactor: simply json parsing
  .v5_schlib/fix_footprints.py
  .v5_schlib/move_symbols.py
  common/rulebase.py
  symbol-generators/stm32/stm32_get_datasheets.py
  tools/rename_footprints.py
Due: symbol_rulechecker, footprint_rulechecker

style: fix flake8 issue F632 - use ==/!= to compare constant literals
  .v5_schlib/rules/S5_1.py
Due: none

fix: repair broken method interfaces
  symbol-generators/common/DrawingElements.py
  symbol-generators/common/Point.py
Due: none

docs: add TODO for unclear result of EC02 rule check
  .v5_schlib/rules/EC02.py
  klc-check/rules_symbol/EC02.py
Due: symbol_rulechecker

fix: remove unused and broken method "does_extend"
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

style: always use "self" for instance and "cls" for class parameters
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

refactor(read_write_kicad_sym): improve style and remove bash-dependency
  test/read_write_kicad_sym.sh
Due: none

style: simplify range checks
  .v5_schlib/schlib.py
  common/kicad_sym.py
  common/rulebase.py
Due: symbol_rulechecker, footprint_rulechecker

refactor: simply `get_boundingbox` implementation
  common/kicad_sym.py
Due: symbol_rulechecker, footprint_rulechecker

style: improve manipulation of python search path
  .v5_schlib/checklib.py
  .v5_schlib/comparelibs.py
  .v5_schlib/find_duplicates.py
  klc-check/check_3d_coverage.py
  klc-check/check_footprint.py
  klc-check/check_lib_table.py
  klc-check/check_symbol.py
  klc-check/comparelibs.py
  klc-check/rules_footprint/rule.py
  symbol-generators/R_Network/R_Network.py
  symbol-generators/SW_DIP/SW_DIP.py
  symbol-generators/connector/Connector_generator.py
  symbol-generators/example-generator.py
  symbol-generators/stm32/stm32_generator.py
  tools/rename_footprints.py
Due: symbol_rulechecker, footprint_rulechecker

style: fix flake8 issue E741 - ambiguous variable name 'l'
  .v5_schlib/comparelibs.py
  common/kicad_mod.py
  common/print_color.py
  klc-check/comparelibs.py
Due: symbol_rulechecker, footprint_rulechecker

fix: align format string with parameters
  common/sexpr.py
  klc-check/rules_symbol/S4_3.py
Due: symbol_rulechecker, footprint_rulechecker

style: simplify character selection test
  common/rulebase.py
Due: symbol_rulechecker, footprint_rulechecker

build(Makefile): add "spelling" target for spelling checks
  .codespell-excludes
  .codespell-ignore-words
  Makefile
Due: none

ci: enable code lint checks and spelling checks
  .gitlab-ci.yml
Due: none

style: fix flake8 issue E731 - do not assign a lambda expression, use a `def`
  symbol-generators/connector/Connector_generator.py
  symbol-generators/stm32/stm32_generator.py
Due: none

style: fix flake8 issue F841 - local variable is assigned to but never used
  .v5_schlib/rules/EC01.py
  .v5_schlib/rules/S6_3.py
  common/kicad_sym.py
  klc-check/check_3d_coverage.py
  klc-check/check_footprint.py
  klc-check/check_symbol.py
  klc-check/rules_footprint/F5_2.py
  klc-check/rules_symbol/S3_1.py
  klc-check/rules_symbol/S4_4.py
  symbol-generators/SW_DIP/SW_DIP.py
  symbol-generators/stm32/stm32_generator.py
Due: symbol_rulechecker, footprint_rulechecker

refactor(EC02): remove previously unused warning flags
  .v5_schlib/rules/EC02.py
  klc-check/rules_symbol/EC02.py
Due: symbol_rulechecker

style: replace `map` and `filter` with list comprehensions
  .v5_schlib/rules/EC01.py
  common/kicad_sym.py
  common/sexpr.py
  klc-check/rules_symbol/S4_3.py
  symbol-generators/common/DrawingElements.py
  symbol-generators/stm32/stm32_generator.py
Due: symbol_rulechecker, footprint_rulechecker

refactor(compare_sexpr_files): improve style and remove bash-dependency
  tools/compare_sexpr_files.sh
Due: none

refactor(compare_sexpr_files): move search path manipulation to caller
  tools/compare_sexpr_files.sh
Due: none

Path conditions:
  symbol_rulechecker: any of: common/*, klc-check/*, klc-check/*symbol/*
  footprint_rulechecker: any of: common/*, klc-check/*, klc-check/*footprint/*
